<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <div>
       <div class="green_border"></div>
        <div class="text_center">{{address}}</div>
        <div class="text_center">{{Tel}}</div>
        <div class="text_center">{{dsfa}}</div>
    </div>

</body>

</html>