<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Document</title>
</head>

<body>
    <div class="d-flex">
        <img src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3BmLXMxMjctdGQtMDAyMV80LnBuZw.png"
            width="10%" alt="Rose" />
        <div>
            <h2 class="hfont_bold title_letter_space">{{title}}</h2>
            <div class="font_bold sub_title_font">{{sub_titile}}</div>
        </div>
    </div>
    <div class="green_border"></div>
</body>

</html>